.homePage{
    background-image: url("homeLanding.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-position: center;

    width: 98vw;
    height: 88vh;
    margin: 0px;
    padding: 0px;
    // padding-bottom: 25px;
}