.leadPageContainer{
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    h2{
        // font-size: medium;
    }

}

.leadPageTitle{
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-width: medium;
}

.leadPageBody{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 8%

}

.formBlock {
    display: flex;
    flex-direction: column;
    height: 100%;
    

}

input{
    // width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formButton{
    width: 100%;
    background-color: #7F9C60;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}